{% extends "tasks/index.html" %}

{% load static %}

{% block content %}

<h3 style="text-align: center;">Are your sure you want to delete task</h3>
<h5 style="margin-bottom: 20px; text-align: center; font-style: italic;">{{task}}</h5>

    <form method="POST" action="">
        {% csrf_token %}
        <a class="btn btn-secondary" style="width: 46%; margin-right: 6%;" href="{% url 'index' %}">Cancel</a>
        <input class="btn btn-primary" style="width: 46%;" type="submit" value="Confirm" />
    </form>

{% endblock content %}