{% extends "tasks/index.html" %}

{% load static %}

{% block content %}


    <h3>My task list</h3>

        <form action="/todo/" method="POST">
            
        {% csrf_token %}

            {{ form.title }}
            
            {{form.errors}}
            
            <input class="btn btn-info" type="submit" value="Create task">

        </form>
        <div class="todo-list">
        {% for t in tasks %}
            <div class="item-row">
    
            {% if t.completed == True %}
                <p><strike>{{ t }}</strike></p>
            {% else %}
                <p><span>{{ t }}</span></p>
            {% endif %}

            <a class="btn btn-sm btn-info" href=" {% url 'update' t.id %} ">Update</a>
            <a class="btn btn-sm btn-danger" href=" {% url 'delete' t.id %} ">Delete</a>

            </div>
        {% endfor %}
        </div>

    {% endblock  %}
