{% extends "tasks/index.html" %}

{% load static %}

{% block content %}

<h2>Update task here {{ form.id }}</h2>

<form action="/todo/update/{{ t_id }}/" method="POST">
    
       {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-row">
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
        </diV>

        {% endfor %}

        <div class="form-bottom"></div>

        <a class="btn btn-secondary btn-block" href="{% url 'index' %}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Update task">
    
    </form>


{% endblock  %}